# Ignorer les fichiers bin et obj
BattleShip.API/bin/
BattleShip.API/obj/
BattleShip.App/bin/
BattleShip.App/obj/
BattleShip.Models/bin/
BattleShip.Models/obj/

*.dll
*.exe
BattleShip.API/users.db-shm
BattleShip.API/users.db-wal

