@using BattleShip.Models
@using System.Text

@inject GameState GameState  // Injecte le singleton GameState
@inject HttpClient Http      // Injecte le client HTTP pour appeler l'API
@inject IJSRuntime JS


<div class="grids">

    @* Grid de l'adversaire *@
    <div class="oponent-grid">
        <div class="sub-title">
			<h3>Opponent Grid</h3>
		</div>
		<div class="grid-container">
			@for (int row = 0; row < 10; row++)
			{
				var currentRow = row;
				<div class="grid-row pos-{row}">
					@for (int col = 0; col < 10; col++)
					{
						var currentCol = col;
						<div class="grid-item pos-{row}-{col} pos-{col}">
							<div class="grid-item pos-{row}-{col} pos-{col}" @onclick="() => Shoot(currentRow, currentCol)">
								@if (GameState.MaskedGridJ2 != null)
								{
									@if (GameState.MaskedGridJ2[row][col] == true)
									{
										<img src="img/hit.png" alt="Touché" class="img-target-grid" />
									}
									else if (GameState.MaskedGridJ2[row][col] == false)
									{
										<img src="img/miss.png" alt="Raté" class="img-target-grid" />
									}
								}
							</div>
						</div>
					}
				</div>
			}
		</div>
    </div>



    @* Notre grille *@
    <div class="our-grid">
        <div class="sub-title">
			<h3>Our Grid</h3>
		</div>
		<div class="grid-container">
			@for (int row = 0; row < 10; row++)
			{
				
				<div class="grid-row pos-{row}">
					@for (int col = 0; col < 10; col++)
					{
						
						<div class="grid-item pos-{row}-{col} pos-{col}">
							@if (GameState.GridJ1 != null)
							{
								@if (GameState.GridJ1[row][col] != '\0')
								{
									<span>@GameState.GridJ1[row][col]</span> <!-- Lettre du bateau -->
								}
								else
								{
									<span>-</span> <!-- Case vide -->
								}
							}
							else {
								<span>a</span>
							}
							
						</div>
					}
				</div>
			}
		</div>
    </div>

</div>


@code {

	private async Task Shoot(int row, int col)
    {
		// on crée l'objet a envoyer
		var shootRequest = new ShootRequest
		{
			x = col,
			y = row,
			j = 1
		};

		// on serialize en JSON
		var jsonSend = System.Text.Json.JsonSerializer.Serialize(shootRequest);
		var content = new StringContent(jsonSend, Encoding.UTF8, "application/json");

		// on envoie
		var response = await Http.PostAsync("/shoot", content);
		Console.WriteLine("Réponse JSON complète : " + response);

        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
			Console.WriteLine("json1 :", json);
			
            if (!string.IsNullOrEmpty(json))
            {
				var jsonObject = System.Text.Json.JsonDocument.Parse(json);
				Console.WriteLine("json2 :", jsonObject);

				// On set les options de desérialization 
				var options = new System.Text.Json.JsonSerializerOptions
				{
					PropertyNameCaseInsensitive = true, // Assure la correspondance des noms des propriétés sans tenir compte de la casse
					Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping // Gère les caractères Unicode comme '\u0000'
				};

				if (jsonObject.RootElement.TryGetProperty("game", out var gameElement) &&
					jsonObject.RootElement.TryGetProperty("shootResult", out var shootResultElement))
				{
					var gameReponse = System.Text.Json.JsonSerializer.Deserialize<BattleShip.Models.Game>(jsonObject.RootElement.GetProperty("game").GetRawText());
					var shootReponse = System.Text.Json.JsonSerializer.Deserialize<BattleShip.Models.ShootResult>(jsonObject.RootElement.GetProperty("shootResult").GetRawText());

					Console.WriteLine("game :", gameReponse);
					Console.WriteLine("shoot result :", shootReponse);

					// Mise à jour du GameState si nécessaire
					if (shootReponse != null && shootReponse.CanShoot && gameReponse != null)
					{
						GameState.GridJ1 = gameReponse.GridJ1;
						GameState.MaskedGridJ2 = gameReponse.MaskedGridJ2;
						GameState.start = true;
					}
					else
					{
						Console.WriteLine("shoot incorrect");
					}
				}
				else {
					Console.WriteLine("no property");
				}
            }
			else {
				Console.WriteLine("json null");
			}
        }
        else
        {
            Console.WriteLine("Erreur lors de l'appel API : " + response.StatusCode);
		}

		// TODO Faire l'appel à l'API
        Console.WriteLine($"click shoot, row : row, {row} col : {col}");
    }


	public class ShootRequest
    {
        public int x { get; set; }
        public int y { get; set; }
		public int j { get; set; }
    }
}
