
<div class="grids">

    @* Grid de l'adversaire *@
    <div class="">
        <BattleShip.App.Components.Grid>

        </BattleShip.App.Components.Grid>
    </div>

    @* notre grille *@
    <div class="our-grid">
        <BattleShip.App.Components.Grid>

        </BattleShip.App.Components.Grid>
    </div>

</div>


