<div class="sub-title">
    <h3>@Title</h3>
</div>

<div class="grid-container">
    @for (int row = 0; row < 10; row++)
    {
        <div class="grid-row">
            @for (int col = 0; col < 10; col++)
            {
                <div class="grid-item">
                    
                </div>
            }
        </div>
    }
</div>


@code {
    [Parameter]
    public string Title { get; set; } = "Grid";
}