@using BattleShip.Models
@using System.Text

@inject GameState GameState 
@inject HttpClient Http

<div class="logs">
    <button class="btn btn-primary" @onclick="() => Undo()">
        Undo
    </button>
</div>


@code {

    private async Task Undo()
    {
		// on envoie
		var response = await Http.GetAsync("/undo");

		// Si on a une réponse en code 200
        if (response.IsSuccessStatusCode)
        {
			// on met le json en String
            var json = await response.Content.ReadAsStringAsync();
			
			// si le Json n'est pas vide
            if (!string.IsNullOrEmpty(json))
            {
				// On set les options de desérialization 
				var options = new System.Text.Json.JsonSerializerOptions
				{
					PropertyNameCaseInsensitive = true, // Assure la correspondance des noms des propriétés sans tenir compte de la casse
					Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping // Gère les caractères Unicode comme '\u0000'
				};

				// On déserialize dans un objet adapté
				var gameResponse = System.Text.Json.JsonSerializer.Deserialize<Models.Game>(json, options);

				if (gameResponse != null)
				{
                    GameState.GridJ1 = gameResponse.GridJ1;
                    GameState.MaskedGridJ1 = gameResponse.MaskedGridJ1;
                    GameState.MaskedGridJ2 = gameResponse.MaskedGridJ2;
                    GameState.start = true;

                    // fleet maj
                    GameState.fleetJ1 = gameResponse.fleetJ1;
                    GameState.fleetJ2 = gameResponse.fleetJ2;

                    // suivi de maj
                    GameState.NotifyStateChanged();

                    if(gameResponse.IsGameFinished){
                        GameState.end = true;
                    }
				}
				else {
					Console.WriteLine("no property");
				}
            }
			else {
				Console.WriteLine("json null");
			}
        }
        else
        {
            Console.WriteLine("Erreur lors de l'appel API : " + response.StatusCode);
		}
    }
}