

@* Notre grille de placement *@
<div class="placement-grid">
    <div class="sub-title">
        <h3>Placement</h3>
    </div>
    <div class="grid-container">
        @if (1 != 0)
        {
            @for (int row = 0; row < 10; row++)
            {
                var currentRow = row;
                <div class="grid-row pos-{row}">
                    @for (int col = 0; col < 10; col++)
                    {
                        var currentCol = col;
                        <div class="grid-item pos-{row}-{col} pos-{col}">
                            <div class="grid-item pos-{row}-{col} pos-{col}">
                                
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<(bool, int)> OnCallParentMethod { get; set; }

    private async Task OnButtonClicked(bool pve, int level)
    {
        if (OnCallParentMethod.HasDelegate)
        {
            await OnCallParentMethod.InvokeAsync();
        }
    }
}